@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Inter-Bold;
  src: url('../fonts/Inter-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

.App{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  margin: 150px 0 150px 0;
  font-family: Inter;
}
body{
  background: rgb(116,88,168);
  background: linear-gradient(189deg, rgba(116,88,168,1) 0%, rgba(129,109,167,1) 74%);
  
}

.left_pannel > *{
  margin-bottom: 25px;
}

.left_pannel{
  width: 45%;
  max-width: 700px;

}

.right_pannel{
  width: 45%;
  max-width: 700px;
}


#root{
  display: flex;
  align-items: center;
  width: 100%;

}

@media only screen and (max-width: 1130px) {
  .App{
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 0
  }
  .App{
      margin: 50px 0 50px 0;
  }
  .left_pannel{
      width: 90%;
      max-width: 700px;
  
  }
  .right_pannel{
      width: 90%;
      max-width: 700px;
  
  }
 }