.App{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 150px;
}

.right_pannel{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding:10px;
    width: 100%;
}
.left_pannel_item{
    background-color: aqua;
}

.pannel{
    border-radius: 3%;
    width: 550px;
    height: fit-content;
}

#root{
    display: flex;
    align-items: center;
    width: 100%;

}

.left_pannel>*{
    border-radius: 3%;
    padding:10px;  
}

@media only screen and (max-width: 1130px) {
    .App{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 0
    }
    .App>*{
        margin-top: 50px;
    }
   }
